node_modules/
dist/
dist-electron/
src-tauri/target/
src-tauri/gen/
build/
*.local
/.pnpm-debug.log*
/.yarn/debug
/.yarn/shim
/etc.*
/*.pid
/.mem
/.db
/.cache
/.vscode
/.idea
.DS_Store
*.log
instruction.txt
electron/test-main.js
electron/test-simple.js
